<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>First name</ion-label>
          <ion-input [(ngModel)]="name" type="text"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Last name</ion-label>
          <ion-input [(ngModel)]="lastname" type="text"></ion-input>
        </ion-item>
      
      </ion-list>
      
      <div padding>
        <button ion-button block (click)="setStorage()">Set Input</button>
        <button ion-button block (click)="getStorage()">Get Input</button>
      </div>
      <div *ngIf="busers">
        <ion-label *ngFor="let p of busers">{{p.name}}</ion-label>
      </div>
</ion-content>
